@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap");
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--grey);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--white);
}

body {
  color: var(--white);
  background: var(--black);
  font-family: var(--font-family);
  font-weight: normal;
  letter-spacing: 0;
  line-height: 1.3em;
}

nav {
  background-color: var(--navbg);
  box-shadow: var(--shadow-elevation-medium);

  align-items: center;
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: flex-start;

  height: 5vh;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;

  z-index: 3;
}

nav .central {
  align-self: stretch;
  flex-grow: 1;
  width: 80vw;
}

nav .end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;

  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

box-icon {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin: 0.5rem;
}

box-icon#home {
  align-self: flex-start;
  order: 0;
}

/* TODO: Align from right properly */
box-icon#patreon {
  align-self: flex-end;
  order: 1;
}

box-icon#discord {
  order: 2;
}