/** Components */
/* Square */
.square {
  height: 75px;
  width: 75px;
  background: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.square-hollow {
  height: 63px;
  width: 63px;
  background: transparent;
  border: 12px solid var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.rectangle {
  width: 125px;
  height: 25px;
  background: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.rectangle-dashed {
  width: 125px;
  height: 25px;
  background: transparent;
  border: 2px dashed var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Colour convenience for span */
.blue {
  color: var(--bottom);
}

.red {
  color: var(--middle);
}

.yellow {
  color: var(--top);
}

.roof-color {
  color: var(--roof-color);
}

.low-text {
  color: var(--bottom-text);
}

.high-text {
  color: var(--top-text);
}


/* Floating Images */

/*
* Containers + Wrappers
*/

/** Splash Pages */
/* Intro */
heading {
  background-image: url(../img/JD2.svg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;

  min-height: 80vh;
  padding-top: 10vh;
  padding-bottom: 15vh;
}

heading h3 {
  text-align: justify;
  max-width: 60vw;
}

/* Epilogue */
footer {
  align-items: center;
  justify-content: center;
  background-image: url(../img/JD1.svg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;

  height: 100vh;
}

/* Gradient Link */
a#discordlink {
  background: var(--roof-color);
  background: -webkit-linear-gradient(135deg, #977df7, #418fbf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}

/** Containers and Wrappers */
/* Container for non-splash sections ("main" sections) */
main {
  background-image: url(../img/GEO-TERRAIN4_19.svg);
  background-size: cover;
}

/* Subwrapper to create centering without ruining the bg */
.container-center {
  align-items: center;
  padding: 2rem 2rem;
}

/* Container for individual main sections ("segments") */
content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  padding-top: 10rem;
  padding-bottom: 5rem;
}

/** Text Paragraphs for each segment */
section {
  /* Auto Layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
}

/** Examples */
/* Flex wrapper for the height labels */
.heightlabels {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  padding: 2rem;

  position: static;

  /* Inside Auto Layout */
  flex: none;
  order: 1;
  align-self: center;
  flex-grow: 0;
}

/* Flex wrapper for special example squares */
.example {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 1rem;

  position: static;

  /* Inside Auto Layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.example .solid-border {
  width: 75px;
  height: 75px;
  background: transparent;
  border: 2px solid var(--white);
}

.example .dashed-border {
  width: 75px;
  height: 75px;
  background: transparent;
  border: 2px dashed var(--white);
}

.example h4 {
  align-self: stretch;
  line-height: 28px;
  text-align: center;
}

/** Primary Columns */

/** Isometric */
.isometric {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 2rem;
}

/* Wrapper for the isometric squares */
.isometric-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem 0px 0px;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 45px 0px;
}

.isometric-wrapper .expanded {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;

  /* Inside Auto Layout */
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 0px 2rem;
}

.isometric-wrapper #expanded-top {
  background: var(--top);

  position: static;
  top: 0%;
  bottom: 65.5%;
  transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg);
  box-shadow: var(--shadow-elevation-medium);
}

.isometric-wrapper #expanded-middle {
  background: var(--middle);
  top: 33.33%;
  bottom: 32.16%;
  transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg);
  box-shadow: var(--shadow-elevation-medium);
}

.isometric-wrapper #expanded-bottom {
  background: var(--bottom);
  top: 66.67%;
  bottom: -1.17%;
  transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg);
  box-shadow: var(--shadow-elevation-medium);
}

.isometric-wrapper .collapsed {
  position: relative;

  /* Inside Auto Layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 1rem;
}

.isometric-wrapper #collapsed-top {
  background: var(--top);
  transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg) translate(-5rem, 5rem);
  box-shadow: var(--shadow-elevation-medium);

  position: relative;
  z-index: -1;
}

.isometric-wrapper #collapsed-middle {
  background: var(--middle);
  transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg);
  box-shadow: var(--shadow-elevation-medium);

  position: relative;
  z-index: -2;
}

.isometric-wrapper #collapsed-bottom {
  background: var(--bottom);
  transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg) translate(5rem, -5rem);
  box-shadow: var(--shadow-elevation-medium);

  position: relative;
  z-index: -3;
}

/** Topdown */
.topdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;

  /* Inside Auto Layout */

  flex: none;
  order: 2;
  align-self: stretch;
}

.square-td {
  /* Auto Layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 3rem 0px;
}

.square-td .square {
  align-items: center;
  margin: 1rem 0rem;
  box-shadow: var(--shadow-elevation-medium);
}

.square-td .square#td-top {
  background-color: var(--top);
  left: calc(50% - 75px / 2 - 0px);
  top: calc(50% - 75px / 2 - 101.5px);
  box-shadow: var(--shadow-elevation-medium);
}

.square-td .square#td-middle {
  background-color: var(--middle);
  left: calc(50% - 75px / 2 - 0px);
  top: calc(50% - 75px / 2 + 0.5px);
  box-shadow: var(--shadow-elevation-medium);
}

.square-td .square#td-bottom {
  background-color: var(--bottom);
  left: calc(50% - 75px / 2 - 0px);
  top: calc(50% - 75px / 2 - 101.5px);
  box-shadow: var(--shadow-elevation-medium);
}

/** Side view */
.sideview {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;

  /* Inside Auto Layout */
  flex: none;
  order: 3;
  align-self: stretch;
  margin: 0px 2rem;
}

.sideview .rectangle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: 5rem;
  margin-left: 3rem;
}

.sideview .hollow-rectangle-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.sideview .hollow-rectangle-wrapper img {
  margin-top: 5rem;
  margin-left: 3rem;
  box-shadow: var(--shadow-elevation-medium);
}

.sideview .rectangle#sv-roof {
  height: 5rem;
  background: linear-gradient(
    180deg,
    rgba(74, 217, 136, 0) 0%,
    rgba(74, 217, 136, 0.25) 50%,
    var(--roof-color) 75%,
    var(--roof-color) 100%
  );
  box-shadow: var(--shadow-elevation-medium);
}

.sideview .rectangle#sv-top {
  background: var(--top);
  box-shadow: var(--shadow-elevation-medium);
}

.sideview .rectangle#sv-middle {
  background: var(--middle);
  box-shadow: var(--shadow-elevation-medium);
}

.sideview .rectangle#sv-bottom {
  background: var(--bottom);
  box-shadow: var(--shadow-elevation-medium);
}

/** Basics section */
/* The titles for Iso, Topdown, etc */
.secondary-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
}

/** Stairs Section */
.stairs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

img#collapsed-stairs {
  position: relative;
  transform: translate(7px, 163px);
  z-index: -1;
}

img#expanded-stairs {
  position: relative;
  z-index: -1;
}

img#sv-stairs {
  position: relative;
  transform: translate(0px, 88px);
}

img#td-stairs-pink,
img#td-stairs-blue {
  margin: 1em;
}

/** Holes Section */
/* Isometric Collapsed */
.square-hollow#top-hollow {
  background-color: none;
  border-color: var(--top);
  transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg);
}

.square-hollow#middle-hollow {
  background-color: none;
  border-color: var(--middle);
  transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg);
}

.square-hollow#bottom-hollow {
  background-color: none;
  border-color: var(--bottom);
  transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg);
}

/* Isometric Expanded */
.square-hollow#top-hollow-co {
  background-color: none;
  border-color: var(--top);
  transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg) translate(-5rem, 5rem);

  position: relative;
  z-index: -1;
}

.square-hollow#middle-hollow-co {
  background-color: none;
  border-color: var(--middle);
  transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg);

  position: relative;
  z-index: -2;
}

.square-hollow#bottom-hollow-co {
  background-color: none;
  border-color: var(--bottom);
  transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg) translate(5rem, -5rem);

  position: relative;
  z-index: -3;
}

.rectangle-dashed#sv-top-hollow {
  background: none;
}

/* Topdown */
.square-td .square-hollow {
  margin: 1em;
}
.square-hollow#td-top-hollow {
  background-color: none;
  border-color: var(--top);
}

.square-hollow#td-middle-hollow {
  background-color: none;
  border-color: var(--middle);
}

.square-hollow#td-bottom-hollow {
  background-color: none;
  border-color: var(--bottom);
}

/** Roofs Section */
/* Label */
#roofscontent .heightlabels {
  align-self: center;
}

/* Infinity Roof Images */
.square-td .square#td-roof {
  background-color: var(--roof-color);
  left: calc(50% - 75px / 2 - 0px);
  top: calc(50% - 75px / 2 - 101.5px);
  box-shadow: var(--shadow-elevation-medium);
}

img#collapsed-roof {
  max-height: 200px;
  transform: translate(-1rem, 7rem);
}

/** Extras Section */
content#extra {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;
  align-content: space-between;
  justify-content: space-evenly;
}

content#extra .information p {
  word-wrap: break-word;
  overflow-wrap: normal;
  max-width: 30vw;
}
