/** Components */
/* Square */
.square {
  height: 75px;
  width: 75px;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.square-hollow {
  height: 65px;
  width: 65px;
  background: transparent;
  border: 10px solid white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.rectangle {
  width: 125px;
  height: 25px;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.rectangle-dashed {
  width: 125px;
  height: 25px;
  background: transparent;
  border: 2px dashed white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Colour convenience for span */
.blue {
  color: var(--bottom);
}

.red {
  color: var(--middle);
}

.yellow {
  color: var(--top);
}

.roof-color {
  color: var(--roof-color);
}

.low-text {
  color: var(--bottom-text);
}

.high-text {
  color: var(--top-text);
}

/** Splash Pages */
/* Intro */
heading {
  background-image: url(../img/JD2.svg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;

  min-height: 80vh;
  padding-top: 10vh;
  padding-bottom: 15vh;
}

heading h3 {
  text-align: justify;
  max-width: 60vw;
}

/* Epilogue */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: url(../img/JD1.svg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 100vh;
}

/* Gradient Link */
a#discordlink {
  background: var(--roof-color);
  background: -webkit-linear-gradient(135deg, #977df7, #418fbf);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
}

/** Containers and Wrappers */
/* Container for non-splash sections ("main" sections) */
main {
  background-image: url(../img/GEO-TERRAIN4_19.svg);
  background-size: cover;
}

/* Container for individual main sections ("segments") */
content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  padding: 5rem 0 5rem 0;
}

/** Left-hand area of the segments */
section {
  /* Auto Layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1rem;
}

/** The text in the lefthand area of the section */
article {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

/** The div that holds the visuals **/
aside {
  display: flex;
  flex-direction: row;

}

/** Examples */
/* Flex wrapper for the height labels */
.heightlabels {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  padding: 2rem;

  position: static;

  /* Inside Auto Layout */
  flex: none;
  order: 1;
  align-self: center;
  flex-grow: 0;
}

.heightlabels h4 {
  text-align: center;
}

/* Flex wrapper for special example squares */
.example {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 1rem;

  position: static;

  /* Inside Auto Layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.example .solid-border {
  width: 75px;
  height: 75px;
  background: transparent;
  border: 2px solid var(--white);
}

.example .dashed-border {
  width: 75px;
  height: 75px;
  background: transparent;
  border: 2px dashed var(--white);
}

.example h4 {
  align-self: stretch;
  line-height: 28px;
  text-align: center;
}

/** Primary Columns */

/** Isometric */
.isometric {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 2rem;
}

/* Wrapper for the isometric squares */
.isometric-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.isometric-wrapper img {
  padding: 1rem;
  margin: 3rem 0px;
}

/** Topdown */
.topdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;

  /* Inside Auto Layout */

  flex: none;
  order: 2;
  align-self: stretch;
}

.td-wrapper {
  /* Auto Layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 3rem 0px;
}

.td-wrapper .square {
  align-items: center;
  margin: 1rem 0rem;

}

/** Side view */
.sideview {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;

  /* Inside Auto Layout */
  flex: none;
  order: 3;
  align-self: stretch;
}

.sideview img {
  padding: 0px 2rem;
}

.sideview .rectangle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: 5rem;
}

.sideview .hollow-rectangle-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.sideview img {
  margin-top: 4rem;
}

.sideview .rectangle#sv-roof {
  height: 5rem;
  background: linear-gradient(180deg, rgba(15, 242, 49, 0) 0%, rgba(15, 242, 49, 0.0632979) 30%, rgba(15, 242, 49, 0.12117) 39.58%, rgba(15, 242, 49, 0.335484) 68.23%, rgba(15, 242, 49, 0.36) 77.07%, #0FF231 77.08%, #0FF231 96.87%);  

}

/** Basics section */
/* The titles for Iso, Topdown, etc */
.secondary-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
}

/** Stairs Section */
.stairs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

img#td-stairs-pink,
img#td-stairs-blue {
  margin: 1em;
}

/** Holes Section */
.rectangle-dashed#sv-top-hollow {
  background: none;
}

/* Topdown */
.td-wrapper .square-hollow {
  margin: 1em;
}

/** Extras Section */
content#extra {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;
  align-content: space-between;
  justify-content: space-evenly;
}

content#extra .information p {
  word-wrap: break-word;
  overflow-wrap: normal;
  max-width: 30vw;
}

/** Media Queries **/
@media only screen and (max-width: 1800px) {
  aside {
    flex-direction: column;
  }
}
