:root {
  --black: #1d1d1f;
  --white: #fcfcfc;
  --grey: #43424b;

  --bottom: #1dc1f2;
  --bottom-text: #05dbf2;
  --middle: #f2059f;
  --top: #FFEE00;
  --top-text: #FFCA80;
  --roof-color: #0FF231;

  --navbg: #171718cc;
  --shadow: #00000033;

  --font-size-l: 24px;
  --font-size-m: 1em;
  --font-size-s: 0.75em;
  --font-size-xl: 2.25em;
  --font-size-xxl: 3.375em;
  --font-size-xxxl: 5em;

  --shadow: 6.7px 11.8px 15.3px -2.1px hsl(240deg 6% 3% / 0.34);

  --font-family: "Consolas", "Fira Code", "Inconsolata", "Monaco",
    "Lucida Console"
}

p,
ul,
ol,
li,
h5 {
  word-wrap: break-word;
  overflow-wrap: normal;
  max-width: 25em;
}

p,
h5 {
  font-size: var(--font-size-m);
  text-shadow: var(--shadow);
}

h1 {
  font-size: var(--font-size-xxxl);
  line-height: 1em;
  margin-bottom: 0.5em;
  text-shadow: var(--shadow);
}

h2 {
  font-size: var(--font-size-xxl);
  margin-bottom: 0.5em;
  text-shadow: var(--shadow);
}

h3 {
  font-size: var(--font-size-xl);
  line-height: 1.5em;
  text-shadow: var(--shadow);
}

h4 {
  font-size: var(--font-size-l);
  margin: 5px 0px;
  text-shadow: var(--shadow);
}

h6 {
  font-size: var(--font-size-s);
  letter-spacing: 0;
  margin: 5px 0px;
  text-shadow: var(--shadow);
}

ol,
ul {
  list-style: inside;
  padding: 1em;
  text-shadow: var(--shadow);
}

li {
  list-style: square;
  padding: 0.25em;
  text-shadow: var(--shadow);
}

strong {
  color: var(--middle);
}